<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Start Head -->
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7b4a142b3c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css_test/style.css" th:href="@{/css_test/style.css}"/>

    <title>Planinator 3000</title>
</head>
<!-- Ende Head -->
<body>
<!-- Start Header - Überall gleich -->
<header>
    <div class="container3">
        <!-- Logo -->
        <div class="head-logo">
            <a href="#"> <img src="../static/images/icon.jpg" th:src="@{/images/icon.png}" height="100px" width="125px"></a>
            <div class="head-name">
                <p>Planinator 3000</p>
            </div>
        </div>
        <!-- Username mit Abmelde-Button -->
        <div class="head-user">
            <i class="fas fa-user"></i>
            <span th:text="${session.userLogin.getUsername()}"></span>
            <button class="button"><a th:href="@{/logout}">Abmelden</a></button>
        </div>
    </div>
</header>

<!-- Start Main -->
<main>
    <section class="main-page">
        <div class="container2">
            <div class="nav-bar">
                <!-- Navigationsleiste-->
                <nav>
                    <ul>
                        <!-- Fragezeichen mit Tooltipps -->
                        <h3 id="managementQuestionmark2">Navigation
                            <button class="addMore" data-title="- Budgethöhe: Syntax-Beispiel 123.40
                                - Also ohne € und kein Komma verwenden.
                                - Mitarbeiternummer: Der Mitarbeiter muss ein OWNER sein.
                                - Ablaufdatum: Syntax-Beispiel jjjj-mm-tt also 2022-10-28
                                - Das Ablaufdatum kann nicht in der Vergangenheit liegen">?
                            </button>
                        </h3>
                        <!-- Unterseiten (zum Navigieren) -->
                        <li><a th:href="@{/Budget_Uebersicht_Management_Reset}">Budget-Übersicht</a></li>
                        <li id="ausgewaehlt"><a th:href="@{/Budget_anlegen_Reset}">Budget anlegen</a></li>
                        <li><a th:href="@{/Budget_anpassen_Reset}">Budget anpassen</a></li>
                        <li><a th:href="@{/Soll_Ist_Vergleich_Management_Reset}">Soll-Ist-Vergleich</a></li>
                    </ul>
                </nav>
                <!--Ansicht 2 des Managemnts: Budget anlegen anhand Textfelder und Buttons-->
                <div class="main-fill2">
                    <div class="main-fill">
                        <div class="containerfixy">
                            <h2>Budget anlegen</h2>
                        </div>
                        <!-- Eingabefelder  -->
                        <form class="budgetu budgetu2" action="#" th:action="@{/saveBudget}" th:object="${budget}"
                              method="POST">
                            <table>
                                <tr>
                                    <td>
                                        <label class="label ">Beschreibung:</label>
                                    </td>
                                    <td>
                                        <input name="vname" type="text" th:field="*{budgetDescription}"
                                               placeholder="Beschreibung">
                                    </td>
                                    <td>
                                        <label>Budgethöhe:</label>
                                    </td>
                                    <td>
                                        <input name="zname" type="text" th:field="*{plannedAmount}"
                                               placeholder="Budgethöhe">
                                    </td>
                                    <td>
                                        <label>Mitarbeiternummer:</label>
                                    </td>
                                    <td>
                                        <input name="zname" type="text" th:field="*{employeeNumber}"
                                               placeholder="Mitarbeiternummer">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Ablaufdatum:</label>
                                    </td>
                                    <td>
                                        <input name="zname" type="text" th:field="*{expirationDate}"
                                               placeholder="Ablaufdatum">
                                    </td>
                                </tr>
                            </table>

                            <div class="buttonssindtoll">  <!-- Buttons unter eingabefeldern -->
                                <div class="buttonAlign">
                                    <button type="reset">Eingabemaske leeren</button>
                                    <button type="submit">Budget Anlegen</button>
                                </div>
                            </div>
                        </form>
                        <!-- Fehlermeldungen für den Benutzer basierend auf logischen Restriktionen -->
                        <div>
                            <p th:if="${session.err.isPlanntamountErr()}" class="fehler">Fehler bei der Budgethöhe</p>
                            <p th:if="${session.err.isEmployeenumberErr()}" class="fehler">Fehler bei der Mitarbeiternummer</p>
                            <p th:if="${session.err.isDateErr()}" class="fehler">Fehler bei dem Datum</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End Main -->
</body>
</html>
   