<!doctype html>


<html xmlns:th="http://www.thymeleaf.org">

<!-- Start Head -->
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7b4a142b3c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css_test/style.css" th:href="@{/css_test/style.css}"/>

    <title>Planinator 3000</title>
</head>
<!-- Ende Head -->

<body>
<!-- Start Header - Überall gleich -->
<header>
    <div class="container3">
        <!-- Logo -->
        <div class="head-logo">
            <a href="#"> <img src="../static/images/icon.jpg" th:src="@{/images/icon.png}" height="100px" width="125px"></a>
            <div class="head-name">
                <p>Planinator 3000</p>
            </div>
        </div>
        <!-- Username mit Abmelde-Button -->
        <div class="head-user">
            <i class="fas fa-user"></i>
            <span th:text="${session.userLogin.getUsername()}"></span>
            <button class="button"><a th:href="@{/logout}">Abmelden</a></button>
        </div>
    </div>
</header>

<!-- Start Main -->
<main>
    <section class="main-page">
        <div class="container2">
            <div class="nav-bar">
                <!-- Navigationsleiste -->
                <nav>
                    <ul>
                        <!-- Fragezeichen mit Tooltipps -->
                        <h3 id="ownerQuestionmark3">Navigation
                            <button class="addMore" data-title="- Über die Budget-ID kann nach einem speziellen Budget gesucht werden.
                            - Nach 0 suchen zeigt alle Forecast-Werte für alle Budgets an, bei denen Sie als Owner hinterlegt sind.
                            - Forecasthöhe: Syntax-Beispiel 123.40
                            - Also ohne € und kein Komma verwenden.
                          - Datum: Syntax-Beispiel jjjj-mm-tt also 2022-10-28">?
                            </button>
                        </h3>
                        <!-- Unterseiten zum Navigieren -->
                        <li><a th:href="@{/Budget_Uebersicht_Reset}">Budget-Übersicht</a></li>
                        <li><a th:href="@{/KostenUebersicht_Owner_Reset}">Kosten-Übersicht</a></li>
                        <li id="ausgewaehlt"><a th:href="@{/Forecast_Uebersicht_Owner_Reset}">Forecast</a></li>
                    </ul>
                </nav>
                <!-- Ansicht 3 des Owners: Anzeige des Forecasts -->
                <div class="main-fill2">
                    <div class="main-fill">
                        <div class="containerfixy">
                            <h2>Forecast</h2>
                        </div>
                        <!-- Filteroption für die Tabellen nach Budget-ID -->
                        <div class="suchen">
                            <form class="budgetu" action="#" th:action="@{/filterForecast_Uebersicht_Owner}"
                                  th:object="${forecast}" method="POST">
                                <label for="suche">Budget-ID eingeben</label>
                                <input id="suche" type="text" th:field="*{budgetId}" placeholder="BudgetID">
                                <button class="button" type="submit">Aktualisieren</button>
                            </form>
                            <!-- Fehlermeldungen für den Benutzer basierend auf logischen Restriktionen -->
                            <p th:if="${session.err.isBudgetIdErr()}" class="fehler">Fehler bei der Eingabe</p>
                            <p th:if="${session.err.isNoBudgetFoundErr()}" class="fehler">Kein Budget gefunden</p>
                        </div>
                        <div class="ausgabe">
                            <!-- Soll-Ist-Vergleich mit dem eingerechneten Forecast -->
                            <table class="table table-bordered ">
                                <thead>
                                <tr class="tabellebunt">
                                    <th scope="col">Budget-ID</th>
                                    <th scope="col">Soll</th>
                                    <th scope="col">Ist</th>
                                    <th scope="col">Differenz</th>
                                    <th scope="col">Ist + Forecast</th>
                                    <th scope="col">Differenz</th>
                                </tr>
                                </thead>
                                <tr th:each="budget : ${listBudget}">
                                    <td th:text="${budget.getBudgetId()}"></td>
                                    <td th:text="${budget.returnPlannedAmount(budget.getBudgetId)}+' €'"></td>
                                    <td th:text="${budget.returnCosts(budget.getBudgetId)}+' €'"></td>
                                    <td th:text="${budget.returnFreeAmount(budget.getBudgetId)}+' €'"></td>
                                    <td th:text="${budget.returnForecasts(budget.getBudgetId)+budget.returnCosts(budget.getBudgetId)}+' €'"></td>
                                    <td th:text="${budget.returnFreeAmount(budget.getBudgetId)-budget.returnForecasts(budget.getBudgetId)}+' €'"></td>
                                </tr>
                            </table>
                        </div>

                        <div class="tabellesollist">
                            <!-- Anzeige aller Forecasts zu den gefilterten Budgets -->
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Forecast-ID</th>
                                    <th scope="col">Budget-ID</th>
                                    <th scope="col">Beschreibung</th>
                                    <th scope="col">Höhe</th>
                                    <th scope="col">Datum</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="forecast : ${listForecast}">
                                    <td th:text="${forecast.foreCastId}"></td>
                                    <td th:text="${forecast.getBudgetId()}"></td>
                                    <td th:text="${forecast.getDescription()}"></td>
                                    <td th:text="${forecast.getValue()}+' €'"></td>
                                    <td th:text="${forecast.getDate()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- Ende Tabelle-->
                            <!-- Aufklappbares Accordion -->
                            <div>
                                <!-- Fehlermeldungen für den Benutzer basierend auf logischen Restriktionen -->
                                <p th:if="${session.err.isBudgetIdErr()}" class="fehler">Fehler bei der Budget-ID</p>
                                <p th:if="${session.err.isValueErr()}" class="fehler">Fehler bei der Kostenhöhe</p>
                                <p th:if="${session.err.isDateErr()}" class="fehler">Fehler bei dem Datum</p>
                                <p th:if="${session.err.isNoBudgetFoundErr()}" class="fehler">Kein Budget gefunden</p>
                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                                aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            Neuen Forecast-Wert Anlegen
                                        </button>
                                    </h3>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                         aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body2">
                                            <form class="budgetu3" action="#"
                                                  th:action="@{/addForecast_Uebersicht_Owner}"
                                                  th:object="${forecast}" method="POST">
                                                <!-- Textfelder und Buttons zum Eingeben der neuen Werte-->
                                                <div class="neueWerteEingeben">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <label class="label speziallabel">Budget-ID:</label>
                                                            </td>
                                                            <td>
                                                                <input name="vname" type="text" th:field="*{budgetId}"
                                                                       placeholder="Budget-ID">
                                                            </td>
                                                            <td>
                                                                <label class="label speziallabel">Beschreibung:</label>
                                                            </td>
                                                            <td>
                                                                <input name="vname" type="text"
                                                                       th:field="*{description}"
                                                                       placeholder="Beschreibung">
                                                            </td>
                                                            <td>
                                                                <label class="label speziallabel">Forecasthöhe:</label>
                                                            </td>
                                                            <td>
                                                                <input name="zname" type="text" th:field="*{value}"
                                                                       placeholder="Kostenhöhe">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="label speziallabel">Datum:</label>
                                                            </td>
                                                            <td>
                                                                <input name="zname" type="text" th:field="*{date}"
                                                                       placeholder="Datum">
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <button type="reset">Eingabemaske leeren</button>
                                                <button type="submit">Forecast anlegen</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                                aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                            Forecast-Wertkorrekturbuchung
                                        </button>
                                    </h3>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body2">
                                            <form class="budgetu3" action="#"
                                                  th:action="@{/addForecast_Uebersicht_Owner}"
                                                  th:object="${forecast}" method="POST">
                                                <!-- Textfelder und Buttons zum Eingeben der neuen Werte-->
                                                <div class="neueWerteEingeben">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <label class="label speziallabel">Budget-ID:</label>
                                                            </td>
                                                            <td>
                                                                <input name="vname" type="text" th:field="*{budgetId}"
                                                                       placeholder="Budget-ID">
                                                            </td>
                                                            <td>
                                                                <label class="label speziallabel">Beschreibung:</label>
                                                            </td>
                                                            <td>
                                                                <input name="vname" type="text"
                                                                       th:field="*{description}"
                                                                       placeholder="Beschreibung">
                                                            </td>
                                                            <td>
                                                                <label class="label speziallabel">Korrekturhöhe:</label>
                                                            </td>
                                                            <td>
                                                                <input name="zname" type="text" th:field="*{value}"
                                                                       placeholder="Korrekturhöhe">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="label speziallabel">Datum:</label>
                                                            </td>
                                                            <td>
                                                                <input name="zname" type="text" th:field="*{date}"
                                                                       placeholder="Datum">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <button type="reset">Eingabemaske leeren</button>
                                                <button type="submit">Korrektur anlegen</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- End Main -->
</body>
</html>
   